[Desktop Entry]
Type=Application
Exec=/home/vagrant/Desktop/eclipse/eclipse
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Eclipse
Name=Eclipse
Comment[en_US]=
Comment=
